* {
    padding: 0;
    margin:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

nav {
    background-color: #333;
}

a.nav {
    color: white;
    text-align: center;
    padding: 20px 44px;
    text-decoration: none;
    float: right;
    border-left: 1px solid #bbb;
    font-size: 30px;
    font-weight: bold;
}

li a img {
    border-right: 1px solid #bbb;
    padding: 0 25px;
    text-align: left;
    margin: 0;
    width: 80px;
    float: left;
}

li a h1 {
    color: #e6ac37;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    float: left;
}

a.nav:hover {
    background-color: #e6ac37;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

body {
    background-color: #272934;
    font-family: "Comic Sans MS";
    color: white;
}

div {
    padding: 12px;
    text-align: center;
}

li {
    border-left: 1px solid #bbb;
}

li:last-child {
    border-left: none;
}

h1 {
    font-size: 29px;
    text-align: center;
    padding: 8px;
    border-right: none;
}

h2 {
    font-size: 25px;
    text-align: center;
    padding: 8px;
}

h3 {
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 8px;
}

footer {
    padding: 12px;
}

a {
    text-align: center;
}

div#game1 {
    background-color: orange;
    width: 1000px;
    height: 405px;
    margin: auto;
    padding: 8px;
    overflow: hidden;
    border-radius: 20px;
}

div#game1 a div#text1 {
    float: right;
    color: white;
    text-align: left;
    width: 55%;
    display: block;
    padding-bottom: 100px;
    padding-right: 10px;
}

div#game1 a div#text1 h2 {
    float: left;
    color: white;
    text-align: left;
    font-size: 35px;
    display: block;
}

div#game1 a div#text1 p {
    float: left;
    color: white;
    text-align: left;
    font-size: 20px;
    display: block;
    padding-bottom: 35px;
}

div#game1 a img {
    float: left;
    width: 405px;
    height: 405px;
    border-radius: 20px;
    display: block;
}

div.chip {
    border-radius: 25px;
    background-color: lightblue;
    text-align: center;
    color: black;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    float: left;
    margin: 5px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

div#splashy {
    padding: 50px;
    background-color: #434343;
    height: 512px;
}

div#splashy img {
    float: right;
    padding: 0px 100px;
}

div#splashy div {
    float: left;
    margin: auto;
    padding: 20px 50px;
}

div#spl-text h1 {
    font-size: 120px;
}

div#spl-text h2 {
    font-size: 50px;
}

div#spl-text h3 {
    font-size: 30px;
}